@page
@model TicketOffice.Pages.Management.Cities.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>City</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City.ArrivalTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City.ArrivalTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City.DepartureTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City.DepartureTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City.Distance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City.Distance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City.Route)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City.Route.Number)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.City.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
